body, html {
    color: #333; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d9d9d9; 
}

header { 
    background-color: #d10000; 
    color: white;
    padding: 20px 0;
    text-align: center;
    margin: auto;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


#content-placeholder {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px; 
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

#content-placeholder h2 {
    color: #333; 
    margin-bottom: 10px; 
}

#content-placeholder p {
    color: #333;
    line-height: 1.6; 
}

.buttons {
    position: fixed; 
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

button {
    background-color: #333; 
    color: white; 
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
}

button:hover {
    background-color: #a80000; 
}
